queueSize = 20
profiles {  
    standard {  
        withName: 'LiftOver' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
            queue = 'medium'
        }     
        withName: 'Evo_intersect' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
            queue = 'medium'
        }
        withName: 'Evo_match' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
            queue = 'medium'
        }
        withName: 'Upset_plot' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
            queue = 'medium'
        }
        withName: 'Hal2chain_to_human' {    
            cpus = 8    
            memory = 64.GB   
            time = '8h'
            queue = 'medium'
        }
        withName: 'Hal2chain_from_human' {    
            cpus = 8    
            memory = 64.GB   
            time = '8h'
            queue = 'medium'
        }
        withName: 'LiftOver_hal' {    
            cpus = 8    
            memory = 64.GB   
            time = '12h'
            queue = 'medium'
        }
        
        }
    cluster {  
        process {   
            withName: 'LiftOver' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
                queue = 'medium'
            }     
            withName: 'Evo_intersect' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
                queue = 'medium'
            }
            withName: 'Evo_match' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
                queue = 'medium'
            }
            withName: 'Upset_plot' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
                queue = 'medium'
            }
            withName: 'Hal2chain_to_human' {    
                cpus = 8    
                memory = 64.GB   
                time = '12h'
                queue = 'medium'
            }
            withName: 'Hal2chain_from_human' {    
                cpus = 8    
                memory = 64.GB   
                time = '8h'
                queue = 'medium'
            }
            withName: 'LiftOver_hal' {    
                cpus = 32    
                memory = 128.GB   
                time = '12h'
                queue = 'medium'
            }
        }
    process.executor = 'slurm'
        }
}
aws {
    region = 'us-west-2'
    // aws.client.downloadParallel = true
}
aws.client.downloadParallel = true
aws.client.anonymous = true