queueSize = 12
profiles {  
    standard {  
        withName: 'LiftOver' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }     
        withName: 'Tebag_intersect' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }
        withName: 'Tebag_match' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }
        withName: 'Upset_plot' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }
        withName: 'Hal2chain_to_human' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }
        withName: 'Hal2chain_from_human' {    
            cpus = 8    
            memory = 64.GB   
            time = '3h'
        }
        withName: 'LiftOver_hal' {    
            cpus = 8    
            memory = 64.GB   
            time = '12h'
        }
        
        }
    cluster {  
            withName: 'LiftOver' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }     
            withName: 'Tebag_intersect' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
            withName: 'Tebag_match' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
            withName: 'Upset_plot' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
            withName: 'Hal2chain_to_human' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
            withName: 'Hal2chain_from_human' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
            withName: 'LiftOver_hal' {    
                cpus = 8    
                memory = 64.GB   
                time = '3h'
            }
    process.executor = 'slurm'
        }
}