profiles {  
    cluster {  
            withName: 'LiftOver' {    
                cpus = 8    
                memory = 64.GB   
            }     
            withName: 'Tebag_intersect' {    
                cpus = 8    
                memory = 64.GB   
            }
            withName: 'Tebag_match' {    
                cpus = 8    
                memory = 64.GB   
            }
            withName: 'Upset_plot' {    
                cpus = 8    
                memory = 64.GB   
            }
            withName: 'Hal2chain_to_human' {    
                cpus = 8    
                memory = 64.GB   
            }
            withName: 'Hal2chain_from_human' {    
                cpus = 8    
                memory = 64.GB   
            }
            withName: 'LiftOver_hal' {    
                cpus = 8    
                memory = 64.GB   
            }

        }
    queueSize = 32
    process.executor = 'slurm'
}